#page-header {
  height: 200px;
  background-image: url(../img/image1.jpg);
  background-position: 0 -360px;
  background-attachment: fixed;
  color: $white;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}
